//desktop
@media only screen and (max-width: 1199px){
    .container {
        width: 100% !important;
    }
} //desktop max 1199px


//tablet
@media only screen and (max-width: 991px){

} //tablet max 991px


//mobile landscape
@media only screen and (max-width: 767px){

} //mobile landscape max 767px

//mobile
@media only screen and (max-width: 479px){

} //mobile max 479px
